@model IEnumerable<TSQ.Models.BAOHANH>

@{
    ViewBag.Title = "BaoHanh";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="form-horizontal col-md-6" style="color:#fff;padding-left:100px;text-align:center">
    <table class="table">
        <tr>
            <th style="vertical-align:central;text-align:center">
                Mã Bảo Hành
            </th>
            <th style="vertical-align:central;text-align:center">
                Hình Thức Bảo Hành
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="vertical-align:central">
                    @Html.DisplayFor(modelItem => item.TGBH)
                </td>
                <td style="vertical-align:central">
                    @Html.DisplayFor(modelItem => item.HinhThucBH)
                </td>

            </tr>
        }

    </table>
</div>
