@{
    ViewBag.Title = "Trang Chủ";
}

<h2 style="color:white; margin-bottom:10px;">WATCH COLLECTION</h2>
<div class="row" id="Watch-Collection">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-4">
            <div class="img-container" style="background-image: url(@item.imgContent)" ;>
                <a href="/SanPham/Index/@item.MaTH" target="_self">
                    <div class="overlay">
                        <div class="text">@item.TenTH</div>
                    </div>
                </a>
            </div>
        </div>
    }
    
</div>