
@{
    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="color:white; font-size:14px">
    <div class="box">
        <h2 style="color:#e96a0f;padding-top: 5px; padding-left: 10px; font-weight: bold;text-align:center">Giới Thiệu Về Cửa Hàng TSQ Watch</h2>
        <div class="aboutindexcont">
            <div style="text-align:center;">
                <img src="http://www.tsqresearch.com/images/logo.png" alt="ts" >
            </div>
                        <p><font face="Arial">
                    <font size="2"><strong style="color:#e96a0f;">Đôi nét về TSQ-Watch<br></strong><br>
                    Trải qua hơn&nbsp;2  tháng hình thành&nbsp;và phát triển&nbsp;TSQ-Watch&nbsp;đã có những bước phát triển không ngừng trong việc cập nhật và các trend mới về đồng hồ,&nbsp; 
                    </font>
                </font>
                <font face="Arial" size="2"> cho khách hàng. </font>
            <font face="Arial" size="2">TSQ-Watch được thành lập theo quyết định số 1511060858 do Công ty TNHH NCĐ TELECOM thành phố Hồ Chí Minh cấp,
                     với chức năng: 
                <br>- Tư vấn và </font>
            
                <font face="Arial" size="2">giới thiệu sản phẩm</font>
                <font face="Arial"><font size="2"><em>.</em>
                    <br>- Giải pháp mua hàng online nhanh chóng<em>.</em>
                <br>- Mua bán và sữa chữa đồng hồ </font>
                <font size="2"><em>.</em>
                <br>- Dịch vụ giao hàng nhanh chóng tiện lợi.
                - Cửa hàng cung cấp các dịch vụ mua bán trên mạng điện thoại và mạng internet;
                <br>- Dịch vụ tiếp thị và truyền thông quảng cáo;<br>
                - Xuất khẩu các mặt hàng công ty kinh doanh;<br>
                <br>Với đội ngũ nhân viên trẻ, đầy sáng tạo và năng động, chịu khó và ham học hỏi.
                     Cùng sự góp sức của các chuyên gia dày dặn kinh nghiệm về các mặt hàng liên quan tới đồng hồ và sửa chữa, 
                    chúng tôi tự hào khi mang đến cho khách hàng những sản phẩm cao cấp với phong cách trẻ trung năng động </font>
                <br>Song song đó, chúng tôi còn là nhà tư vấn, thiết kế và phát triển các sản phẩm đồng hồ cho khách hàng </font><font face="Arial" size="2">, bao gồm các dịch vụ như tư vấn, gợi ý, thẩm định mẫu do khách hàng yêu cầu. Phục vụ nhu cầu đa dạng của khách hàng. </font> 
                <br>
                <strong><br>
                <font face="Arial" size="2" style="color:#e96a0f;">Sứ mệnh của chúng tôi<br>
                </font></strong>
                <br><font face="Arial" size="2">“ Sứ mệnh của&nbsp;chúng tôi&nbsp;là trở thành một công ty kinh doanh, Đầu tư xây dựng tốt cơ sở vật chất. Phục vụ tốt nhất những khách hàng trong thị trường mà cửa hàng có được”.
                <br></font><strong>
                <br><font face="Arial" size="2" style="color:#e96a0f;">Triết lý của chúng tôi
                <br></font></strong>
                <br><font face="Arial" size="2">Khách hàng là giá trị cơ bản của bất kỳ doanh nghiệp nào, là lý do duy nhất để doanh nghiệp tồn tại và phát triển. Chính sách "khách hàng là trung tâm" chỉ lối dẫn đường cho mọi hoạt động của công ty. </font></p><p><font face="Arial" size="2">Chúng tôi lắng nghe, phân tích và thấu hiểu nhu cầu của từng khách hàng và áp dụng kinh nghiệm, kỹ năng, tư duy của mình để giải quyết tối ưu những nhu cầu đó, giúp chủ doanh nghiệp tập trung vào các hoạt động kinh doanh cốt lõi của mình. Mỗi khách hàng là một viên gạch xây lên giá trị của công ty. 
                <br></font><strong>
                <br><font face="Arial" size="2" style="color:#e96a0f;">Định hướng phát triển của TSQ-Watch
                <br></font></strong>
                <br><font face="Arial" size="2">- Giữ vững và ngày càng tăng tốc độ phát triển trên mọi chỉ tiêu: doanh số, thị phần, nhân lực, giá trị thương hiệu, số lượng sản phẩm )</font></p><p><font face="Arial" size="2">- Phát huy và nâng cao thế mạnh sẵn có của cửa hàng về quản lý, sản xuất, mua bán, gia công, </font>
                </p><p><font face="Arial" size="2">Với mong muốn được phục vụ các khách hàng ngày càng chu đáo hơn, chúng tôi luôn sẵn sàng tiếp nhận và biết ơn mọi sự góp ý của khách hàng.
                 <br><br>Mọi thông tin về xin liên hệ</font><font size="2"><font face="Arial">:</font>
            <br></font><font face="Arial"><font size="2"><strong style="color:#e96a0f;">Cửa Hàng TSQ-WATCH
                <br>Trụ sở chính:</strong> Số 475A - ĐIỆN BIÊN PHỦ - P25 - Q.BÌNH THẠNH -TP.HCM.
            <br><strong>Điện thoại:</strong> 04.21.458.XXX - <strong>Fax:</strong> 04.34526XXX - <strong>Hotline:</strong> 0912.XXX.1X9
            <br><strong>Email:</strong> </font></font>TSQWatch@gmail.com
</div>
        </div></div>
