
@{
    ViewBag.Title = "Xác Nhận Đơn Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:white;text-align:center">Đơn hàng của bạn đã được xác nhận. Chúng tôi sẽ liên hệ bạn trong thời gian sớm nhất</h2>


